Determine what is expected outcome of the game

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Reading data from csv
data = pd.read_csv("NBAdataõige.csv", sep=",")

C:\Users\timok\AppData\Local\Temp\ipykernel_25468\3526434771.py:2: DtypeWarning: Columns (68,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("NBAdataõige.csv", sep=",")

In [5]:
data.columns

Index(['game_id', 'game_date', 'OT', 'H_A', 'Team_Abbrev', 'Team_Score',
       'Team_pace', 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct',
       'Team_ft_rate', 'Team_off_rtg', 'Inactives', 'Opponent_Abbrev',
       'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct',
       'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate',
       'Opponent_off_rtg', 'player', 'player_id', 'starter', 'mp', 'fg', 'fga',
       'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb',
       'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus',
       'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct', 'fg3a_per_fga_pct',
       'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct',
       'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg', 'def_rtg', 'bpm',
       'season', 'minutes', 'double_double', 'triple_double', 'DKP', 'FDP',
       'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [6]:
data.head()

,game_id,game_date,OT,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.128068,17.76,NaN,NaN,0.0,0.0,47.0,51.0,3.0,NaN
1,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.032985,22.76,NaN,NaN,82.0,18.0,0.0,0.0,0.0,NaN
2,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.038986,14.00,NaN,NaN,0.0,33.0,40.0,25.0,2.0,NaN
3,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.082361,16.52,NaN,NaN,0.0,0.0,0.0,0.0,100.0,NaN
4,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.046404,6.88,NaN,NaN,0.0,0.0,2.0,33.0,65.0,NaN

In [7]:
data['game_id'].unique().shape

(2314,)

In [8]:
# Copying data into new dataset with values that are needed
df2 = pd.DataFrame([data.game_id, data.game_date, data.Team_Score, data.player, data.player_id, data.mp, data.fg_pct, data.fg3_pct, data.ft_pct, data.ast, data.stl, data.blk, data.pts, data.plus_minus]).transpose()

df2.shape

(89499, 14)

In [17]:
# A dataframe of all played games, with columns for team names and repective scores
games_data = pd.DataFrame([data.game_id, data.Team_Abbrev, data.Team_Score, data.Opponent_Abbrev, data.Opponent_Score, data.Team_pace, data.Team_efg_pct, data.Team_tov_pct, data.Team_orb_pct, data.Team_ft_rate, data.Opponent_pace, data.Opponent_efg_pct, data.Opponent_tov_pct, data.Opponent_orb_pct, data.Opponent_ft_rate]).T.drop_duplicates('game_id')
games_data.rename(columns = {'Team_Abbrev':'team1', 'Team_Score':'team1_score', 'Opponent_Abbrev':'team2', 'Opponent_Score':'team2_score', 'eam_pace' : 'team1_pace', 'team_efg_pct' : 'team1_efgP', 'Team_tov_pct' : 'team1_tovP', 'Team_orb_pct' : 'team1_orbP', 'Team_ft_rate' : 'team1_ftr', 'Opponent_pace' : 'team2_pace', 'Opponent_efg_pct' : 'team2_efgP', 'Opponent_tov_pct' : 'team2_tovP', 'Opponent_orb_pct' : 'team2_orbP', 'Opponent_ft_rate' : 'team2_ftr'}, inplace = True)
games_data['home'] = games_data['game_id'].str.slice(-3,)

#games_data.shapedata.team_pace, data.team_efg_pct, data.team_tov_pct, data.team_orb_pct, data.team_ft_rate, data.Opponent_pace, data.Opponent_efg_pct, data.Opponent_pace_tov_pct, data.Opponent_orb_pct, data.Opponent_ft_rate

In [13]:
games_data['won'] = games_data.team1_score > games_data.team2_score if games_data.home.equals(games_data.team1) else games_data.team1_score < games_data.team2_score

In [18]:
games_data.head()

,game_id,team1,team1_score,team2,team2_score,Team_pace,Team_efg_pct,team1_tovP,team1_orbP,team1_ftr,team2_pace,team2_efgP,team2_tovP,team2_orbP,team2_ftr,home
0,202012220BRK,GSW,99,BRK,125,110.5,0.424,14.2,22.8,0.152,110.5,0.538,15.9,27.7,0.283,BRK
13,202012250MIL,GSW,99,MIL,138,107.5,0.394,9.1,16.9,0.212,107.5,0.667,14.4,25.0,0.2,MIL
26,202012270CHI,GSW,129,CHI,128,115.2,0.49,9.3,17.5,0.26,115.2,0.61,19.4,18.4,0.267,CHI
38,202012290DET,GSW,116,DET,106,102.2,0.592,17.1,12.1,0.342,102.2,0.451,12.5,30.8,0.25,DET
50,202101010GSW,GSW,98,POR,123,104.4,0.437,13.8,6.5,0.367,104.4,0.543,8.7,16.3,0.25,GSW

In [19]:
data.head()

,game_id,game_date,OT,H_A,Team_Abbrev,Team_Score,Team_pace,Team_efg_pct,Team_tov_pct,Team_orb_pct,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,PG%,SG%,SF%,PF%,C%,active_position_minutes
0,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.128068,17.76,NaN,NaN,0.0,0.0,47.0,51.0,3.0,NaN
1,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.032985,22.76,NaN,NaN,82.0,18.0,0.0,0.0,0.0,NaN
2,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.038986,14.00,NaN,NaN,0.0,33.0,40.0,25.0,2.0,NaN
3,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.082361,16.52,NaN,NaN,0.0,0.0,0.0,0.0,100.0,NaN
4,202012220BRK,2020-12-22,0,A,GSW,99,110.5,0.424,14.2,22.8,...,0.046404,6.88,NaN,NaN,0.0,0.0,2.0,33.0,65.0,NaN

In [ ]:
games_data.shape

In [ ]:
#team_pace - mis punktide suunas liigub/liikus
#team_efg_pct - skoorimis%, arvestab ka kolmeseid
#team_tov_pct - palli kaotuste protsent 
#team_orb_pct - ründelaua protsent
#team_ftr - vabavisete rate (läks viskele - kas tuli vabavise?)

In [ ]:
teams_data = pd.DataFrame([data.Team_Abbrev]).T.drop_duplicates('Team_Abbrev')

In [ ]:
for t in teams_data['Team_Abbrev']:
    print(t)
    score1 = games_data[games_data.Team_Abbrev == t]['Team_Score'].sum()
    score2 = games_data[games_data.Opponent_Abbrev == t]['Opponent_Score'].sum()
    
    print(score1 + score2)

In [ ]:
teams_data['points'] = 0

for t in teams_data['Team_Abbrev']:
    score1 = games_data[games_data.Team_Abbrev == t]['Team_Score'].sum()
    score2 = games_data[games_data.Opponent_Abbrev == t]['Opponent_Score'].sum()
    
    #teams_data[teams_data.Team_Abbrev == t]['points'] == score1 + score2
    
    teams_data['points'].loc[teams_data['Team_Abbrev'] == t] = score1 + score2
    
    
print(teams_data.shape)
print(teams_data.head())

In [ ]:
teams_data.plot(x='Team_Abbrev', y='points', kind='barh', color='b', figsize=(6,8))